.border
{
    margin : 100px auto;
    width: 90%;
    border: 5px solid black;
    display: flex;
    overflow-x: auto;
}
.border::-webkit-scrollbar
{
    display: none;
}

.card
{
    flex: 0 0 5em;
    height: 5em;
    width: 4em;
    padding: 1em;
    background: blue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    color: white;
}

.group
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
}

@keyframes spin
{
    from {translate: 0;}
    to {translate: -100%;}
}